mail.example.com

[newyork]
www[1:3].example.com

[chicago]
www[4:6].example.com

[losangeles]
www[7:9].example.com

[webservers:children]
newyork
chicago
losangeles

[dbservers]
one.example.com
two.example.com
three.example.com

